    <!--底部信息-->
    <div class="footer">
    <div class="copyright">
        <div class="foot">
    <a href="{SITE_PATH}">首页</a>
		{loop $cats $t}
		{if $t['parentid']==0 && $t['ismenu']}
		<a href="{$t['url']}">{$t['catname']}</a>
		{/if}
		{/loop}
		<a href="{url('member')}">会员中心</a>
		<a href="http://www.lygphp.com" target="_blank">技术支持</a>
     <p>{html_entity_decode($SITE_BOTTOM_INFO)}  Powered by {CMS_NAME} v{CMS_VERSION} © 2015. <a rel="nofollow" href="http://www.miibeian.gov.cn/" target="_blank">{$SITE_ICP}</a></p>
    </div>
     </div>
   </div>
<!--wrap end-->
</body>
</html>
<!-- {php var_dump($cats[$catid]['child'])} -->
<!-- {php $data=linkagelist(19, 菜单id);} -->

<div>
{php $data=linkagelist(19);}
{loop $data $t}
<p>名称：{$t['name']}={$t['id']}</p>
    {if $t['arrchilds']}
    {php $data1=linkagelist(19,$t['id']);}
    {loop $data1 $tt}
    <p>&nbsp;&nbsp;&nbsp;&nbsp;名称：{$tt['name']}={$tt['id']}</p>
        {if $t['arrchilds']}
        {php $data2=linkagelist(19,$tt['id']);}
        {loop $data2 $ttt}
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名称：{$ttt['name']}={$ttt['id']}</p>
        {/loop}
        {/if}
    {/loop}
    {/if}
{/loop}
</div>

 <!-- {php var_dump(linkagelist(19)[20])} -->